<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h1>Headers</h1>
    <table class="table">
        {% for key, values in headers.items %}
        <tr>
            <td>{{key}}</td>
            <td>{{values}}</td>
        </tr>
        {% endfor %}
    </table>
    {% if params %}
    <h1>Body</h1>
    <table class="table">
        {% for key, values in params.items %}
        <tr>
            <td>{{key}}</td>
            <td>{{values}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
    <script>
        {% if location %}
        history.pushState({}, 'Polo', '{{location}}');
        {% endif%}
    </script>
</body>

</html>

